@using MvcPaging;
@*@model List<SchoolLibrary.BusinessLogic.Models.BookBusinessModel>*@
@model List<SchoolLibrary.BusinessModels.Models.ReaderHistoryBusinessModel>


@*@model PagedList.IPagedList<SchoolLibrary.BusinessLogic.Models.BookBusinessModel>*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
   <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>



@using (Ajax.BeginForm("ReaderHistory", "Librarian", FormMethod.Get,
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frm-search", readerId = ViewData["readerId"] }))
{
    <h2>ReaderHistory</h2>
    <br />
    <div class="input-append2">

        <input class="myspan2" id="appendedInputButton" type="text" name="inventoryNumber" placeholder="Number" />
        <button class="btn2" type="submit"><i class="icon-search"></i>&nbsp;Search</button>
    </div>
    

    <div id="grid-list" class="well">
        @{ Html.RenderPartial("HistoryList", Model); }
    </div>
}
<script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

</script>
