@using MvcPaging;
@model List<SchoolLibrary.BusinessModels.Models.ReaderHistoryBusinessModel>

@*@model PagedList.IPagedList<SchoolLibrary.BusinessLogic.Models.BookBusinessModel>*@

@{
    ViewBag.Title = "Index Search Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}

<h2>Search Book</h2>

@using (Ajax.BeginForm("SearchIndex", "Librarian",
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frm-search", readerId=1 }))
{
    <div class="input-append2">
        @*<input class="span2" id="appendedInputButton" type="text" name="bookName" placeholder="Name" />*@
        <input class="myspan2" id="appendedInputButton" type="text" name="bookName" placeholder="Name" />
        <button class="btn" type="submit"><i class="icon-search"></i>&nbsp;Search</button>
    </div>
    

    <div id="grid-list">
        @{ Html.RenderPartial("ReaderHistory", Model); }
    </div>
}
<script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

</script>
