@model SchoolLibrary.BusinessModels.Models.AuthorBusinessModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Author", FormMethod.Post))
{
    
    @Html.Partial("CreatePartial")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
