@model SchoolLibrary.Models.FileModel

<div  >
    @Html.TextBoxFor(m => m.File, new { id = "fu-my-simple-upload", type = "file" }) <input type="button" id="hl-start-upload" value="Add readers"> 
</div>


