@{
    ViewBag.Title = "Introduction to the school library";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <h3>
                The school library is central to learning and plays a key role as a place for encouraging innovation, curiosity, and problem solving. Your library is a catalyst for literacy and reading and for teaching and scaffolding inquiry learning. School libraries make a difference to students’ understanding and achievement and provide support for teaching and learning throughout the school. The school library is an important part of the school community and reflects and welcomes this community.
                Your school library plays a key role in the cultural and social life of the school. It can be a central point for engagement with all kinds of reading, cultural activities, access to information, knowledge building, deep thinking and lively discussion.
            </h3>
        </div>
    </section>
    }