@{
    ViewBag.Title = "Welcome to School Library";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <h3>
                "We hope that libraries will always exist as places for learners to find information, resources, services, and instruction. But formats, technologies, learning needs, and our schools are evolving. And so are students themselves. Our entire information and communication landscapes have shifted—and this shift will only continue." - Valenza & Johnston (October 2009)               
            </h3>  
        </div>
        
    </section>
}
